.guide-hero {
    display: flex;
    justify-content: space-between;
}

.gh-content {
    padding: 112px;
}

.gh-content h1 {
    padding-bottom: 24px;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -2%;
    color: #333461;
}

.gh-content p {
    padding-bottom: 38px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4A556CB2;
}

form input {
    padding: 12px;
    width: 299px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid #eee;
    background-color: #ffffff;
    border-radius: 10px;
    color: #667085;
    outline: none;
    margin-bottom: 24px;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

.gh-content>a {
    display: block;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}

.gh-content a span {
    text-decoration: underline;
}

.gh-content_btn a {
    padding: 12px 94.5px;
}


.gh-img {
    padding: 59px 80px 0px 50px;
    background-color:#FAF8F6;
}

.img-guide {
    position: relative;
    top: -600px;
    left: 50px;
}