.about-clients {
    width: 100%;
    padding: 120px 14px 199px 150px;
    background: #FAF8F6;
}

.about-clients h1 {
    padding-bottom: 37px;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1%;
    color: #333461;
}

.ac-cards {
    display: flex;
    justify-content: space-between;
    gap: 37px;
}

.ac-card {
    padding: 48px;
    box-shadow: 0px 96px 96px 0px #B1BAC81F;
}

.ac-card h2 {
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -3%;
    color: #DBDEE6;
    transition: all .55s;
}

.ac-card:hover h2 {
    color: #20AD96;
}

.ac-card p {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -3%;
    color: #4a556c;
    transition: all 2s;
}

.ac-card:hover span {
    font-weight: 700;
}

.ac-card h3 {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -3%;
    color: #333461;
}

.ac-card_img img {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    object-fit: cover;
}