.header {
    width: 100%;
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header .logo span {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #20AD96;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo span .header-icon {
    width: 20px;
    color: white;
}

.header .logo .logo-h3 {
    font-size: 20px;
    color: #333461;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.header ul {
    display: flex;
    gap: 30px;
}

.header ul li a {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -2%;
    color: #4A556C;
    transition: all 0.5s;
}

.header ul li a:hover {
    color: #262757;
    font-weight: 500;
}

.header .nav .guide-btn a {
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: #20AD96;
    font-weight: 600;
    font-size: 14px;
    line-height: 18.2px;
    transition: all .5s;
}

.header .nav .guide-btn a:hover {
    background-color: #17937F;
}