* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
}

::selection {
    background-color: #20AD96;
    color: white;
}

.container {
    width: 100%;
    padding-left: 150px;
    padding-right: 190px;
    padding-bottom: 50px;
}

.btn { 
    width: 100%;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: #20AD96;
    transition: all .55s;
}

.btn:hover {
    background-color: #1A9482;
}